/* index.css */

:root {
  --bg-main: #0a0a0a;
  --bg-panel: #0f141a;
  --bg-critical: #1a0000;

  --text-primary: #e6edf3;
  --text-muted: #8b949e;

  --accent: #00ffcc;
  --danger: #ff4d4d;
  --border: #222;
}

body {
  margin: 0;
  font-family: monospace;
  background: var(--bg-main);
  color: var(--text-primary);
}